.container {
  max-width: 3556px;
  max-height: 2000px;
}

.overlay {
  max-width: 3556px;
  height: 2000px;
  background-image: url(../images/Vector_Smart_Object\ 1.png),
    url(../images/Vector_Smart_Object\ 2.png),
    url(../images/Vector_Smart_Object\ 3.png),
    url(../images/Vector_Smart_Object\ 4.png),
    url(../images/Vector_Smart_Object\ 5.png),
    url(../images/Vector_Smart_Object\ 6.png),
    url(../images/Vector_Smart_Object\ 7.png),
    url(../images/Vector_Smart_Object\ 8.png),
    linear-gradient(-266.97deg, #ded5b4 0%, rgba(222, 213, 180, 0) 33%),
    linear-gradient(to top, #ded4b4 0%, rgba(222, 213, 180, 0) 100%),
    url(../images/Image.jpg);

  background-position: -51px -216px, 1383px 1661px, 2172px -1024px,
    1276px 1592px, 3013px 1612px, 1816px 599px, -796px -347px, 1401px 185px,
    center, center, center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: block;

  padding-top: 400px;
  padding-left: 250px;
}

.logo {
  margin-bottom: 109px;
}

.title {
  max-width: 1204px;
  height: 123px;
  color: #1e1b1b;
  font-family: 'Roboto';
  font-size: 165px;
  font-weight: 400;
  font-style: normal;

  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 5.83px;

  margin-top: 0;
  margin-bottom: 35px;
}

.title-s {
  max-width: 1203px;
  height: 267px;
  text-shadow: 37px 12px 0 #1e1b1b;
  color: #563a29;
  font-family: 'Roboto';
  font-size: 359px;
  font-weight: 400;
  line-height: 291.72px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 12.47px;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #ffffff;
  margin: 0;
}

.text {
  max-width: 1243px;
  height: 232px;
  color: #1e1b1b;
  font-family: 'Secular+One';

  font-size: 42px;
  font-weight: 300;

  text-align: left;

  letter-spacing: 5.83px;

  margin-top: 78px;
  margin-bottom: 0;
}

.social {
  margin-top: 170px;
  margin-left: 250px;
}

.title-t {
  height: 34px;
  color: #1e1b1b;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 700;
  font-style: normal;

  line-height: normal;
  text-align: left;
  text-transform: uppercase;

  font-style: normal;
  letter-spacing: 7px;
  line-height: normal;
  margin-bottom: 61px;
}
.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-item:not(:last-child) {
  margin-right: 48px;
}
