.title {
  height: 17px;

  color: #1e1b1b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.82px;
  margin: 0;

  @media screen and (min-width: 782px) {
    width: 265px;
    height: 27px;
    font-size: 36px;
    letter-spacing: 2.92px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1778px) {
    width: 602px;
    height: 62px;
    font-size: 83px;
    letter-spacing: 2.92px;
  }

  @media screen and (min-width: 3556px) {
    width: 1203px;
    height: 123px;
    font-size: 165px;
    letter-spacing: 15px;
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.title-s {
  // width: 168.42px;
  height: 37.38px;
  text-shadow: 5.18px 1.68px 0 #1e1b1b;
  color: #563a29;
  font-family: 'Roboto';
  font-size: 50.26px;
  font-weight: 400;
  line-height: 40.84px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 6.24px;
  -webkit-text-stroke-width: 0.84px;
  -webkit-text-stroke-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;

  @media screen and (min-width: 782px) {
    width: 264.66px;
    height: 58.74px;
    text-shadow: 8.14px 2.64px 0 #1e1b1b;
    font-size: 78.98px;
    line-height: 64.18px;
    letter-spacing: 2.74px;
    -webkit-text-stroke-width: 1.32px;
  }

  @media screen and (min-width: 1778px) {
    width: 601.5px;
    height: 133.5px;
    text-shadow: 18.5px 6px 0 #1e1b1b;
    font-size: 160px;
    line-height: 145.86px;
    letter-spacing: 6.24px;
    -webkit-text-stroke-width: 3px;
  }

  @media screen and (min-width: 3556px) {
    width: 1203px;
    height: 267px;
    text-shadow: 37px 12px 0 #1e1b1b;
    font-size: 359px;
    line-height: 291.72px;
    letter-spacing: 20px;
    -webkit-text-stroke-width: 6px;
    margin-top: 30px;
  }
}

.text {
  width: 150px;
  height: 32.48px;

  color: #1e1b1b;
  font-family: 'Secular+One';
  font-size: 5.88px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.82px;
  margin-top: 10px;

  @media screen and (min-width: 782px) {
    width: 273.46px;
    height: 51.04px;
    font-size: 9.24px;
    letter-spacing: 1.28px;
    margin-top: 15px;
  }

  @media screen and (min-width: 1778px) {
    width: 621.5px;
    height: 116px;
    font-size: 20px;
    letter-spacing: 2.92px;
    margin-top: 15px;
  }
  @media screen and (min-width: 3556px) {
    width: 1243px;
    height: 232px;
    font-size: 42px;
    letter-spacing: 5.83px;
    margin-top: 60px;
  }
}
