.m {
  padding-top: 60%;
  //   padding-left: 10%;

  @media screen and (min-width: 782px) {
    padding-top: 30%;
  }

  @media screen and (min-width: 1778px) {
    padding-top: 20%;
  }

  @media screen and (min-width: 3556px) {
    padding-top: 10%;
  }
}
