.m {
  padding-top: 400px;
  margin-left: 35px;

  @media screen and (min-width: 782px) {
    // padding-top: 88px;
    margin-left: 55px;
  }

  @media screen and (min-width: 1778px) {
    // padding-top: 200px;
    margin-left: 125px;
  }

  @media screen and (min-width: 3556px) {
    // padding-top: 400px;
    margin-left: 250px;
  }
}
