.section {
  min-width: 360px;
  padding-top: 300px;
  padding-left: 60px;

  @media screen and (min-width: 400px) {
    padding-top: 100px;
    padding-left: 55px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 450px;
    padding-left: 55px;
  }

  @media screen and (min-width: 812px) {
    padding-top: 60px;
    padding-left: 55px;
  }

  @media screen and (min-width: 1000px) {
    padding-top: 200px;
    padding-left: 125px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 350px;
    padding-left: 125px;
  }

  @media screen and (min-width: 3556px) {
    padding-top: 400px;
    padding-left: 300px;
  }
}
